<div class="footer-content">
<div class="tarjeta-credito">
    <i class="fa-solid fa-credit-card"></i>
    <h3>Elegí cómo pagar</h3>
    <p>Podés pagar con tarjeta, débito, efectivo o hasta 12 cuotas sin tarjeta con Print-Dustry Crédito.</p>
</div>

<div class="envios">
    <i class="fa-solid fa-boxes-packing"></i>
    <h3>Envío gratis desde $ 10.000</h3>
    <p> Solo por estar registrado en Print-Dustry tenés envíos gratis en miles de productos. Es un beneficio de Print-Dustry Points.</p>
</div>

<div class="shield">
    <i class="fa-solid fa-user-shield"></i>
    <h3>Seguridad, de principio a fin</h3>
    <p>¿No te gusta? ¡Devolvelo! En Mercado Libre, no hay nada que no puedas hacer, porque estás siempre protegido.</p>
</div>
</div>
<h4>Copyright ©2021-2023 Print-Dustry S.R.L.</h4>