
<div class="tarjeta-credito">
    <i class="fa-solid fa-credit-card"></i>
    <h3>Pagá con tarjeta o en efectivo</h3>
    <p>Paga en cuotas sin interés con tarjeta o efectivo. ¡Y siempre es seguro!</p>
</div>

<div class="envios">
    <i class="fa-solid fa-boxes-packing"></i>
    <h3>Envío gratis desde $ 2.500</h3>
    <p>Solo por estar registrado tenés envíos gratis en miles de
        productos.</p>
</div>

<div class="shield">
    <i class="fa-solid fa-user-shield"></i>
    <h3>Seguridad, de principio a fin</h3>
    <p>¿No te gusta? ¡Devolvelo! No hay nada que no puedas hacer,
        porque estás siempre protegido.</p>
</div>