
<a href="#" class="logo">Print-Dustry</a>

        <ul class="navlist">
       
             <li><a href="../products/create">Vender Producto</a></li>
            <li><a href="../products/editProduct">Editar Productos</a></li>
            <li><a href="../products/index">Ver Productos</a></li>
            <li><a href="../users/login">Ingresa</a></li>
            <li><a href="../users/register">Crea Tu Cuenta</a></li>
            <li><a href="../products/productCart">Mis Compras</a></li>
        </ul>
<div class="bx bx-menu" id="menu-icon"></div>