<div class="main-header">
    <div class="main-header-mobile">
        <img src="./images/Logo-sin-fondo.png" alt="Logo mercadoliebre" height="100px">
        <form action="/busqueda" method="get" class="busqueda"> 
            <div class="search-bar">
                <input type="text" value="Buscar productos, marcas, etc" name="nombredelacaja" size="0.4hw" >
                <button type="submit" class="boton-busqueda"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
    </div>
</div>

<div class="nav-bar">
    <ul class="log-in-nav-bar">
        <li><a href="register.ejs"> Contáctanos</a></li>
        <li><a href="register.ejs"> Creá tu Cuenta</a></li>
        <li><a href="login.ejs"> Ingresa</a></li>
        <li><a href="productCart.ejs"><i class="fa-solid fa-cart-shopping"></i></a></li>
    </ul>
</div>   