<div class="main-header">
    <div class="main-header-mobile">
        <img src="/images/Logo-sin-fondo.png" alt="Logo marca" height="100px">
    </div>
</div>
    
    <div class="searchbar">
        <input type="text" placeholder="Buscar productos, marca y mas">
        <button><i class="fa-solid fa-magnifying-glass"></i></button>
    </div>
            

<div class="nav-bar">
    <ul class="log-in-nav-bar">
        
        <li><a href="/products/productCart"><i class="fa-solid fa-cart-shopping"></i></a></li>
        <li><a href="/users/register"> Creá tu Cuenta</a></li>
        <li><a href="/users/login"> Ingresa</a></li>
        <li><a href="/products/index"> Productos</a></li>
    </ul>
</div>   