
<div class="main-header">
    <div class="main-header-mobile">
        <img src="/images/Logo-sin-fondo.png" alt="Logo marca" height="100px">
    </div>
</div>
    
    <div class="searchbar">
        <form action="/products/search" method="get">
            <input type="text" name="q" placeholder="Buscar productos, marca y más"><i class="fa-solid fa-magnifying-glass"></i>
            
        </form>
    </div>
            

<div class="nav-bar">
    <ul class="log-in-nav-bar">
        
        <li><a href="/products/productCart"><i class="fa-solid fa-cart-shopping"></i></a></li>
        <li><a href="/users/register"> Creá tu Cuenta</a></li>
        <li><a href="/users/login"> Ingresa</a></li>
        <li><a href="/products/index"> Productos</a></li>
    </ul>
</div>  

