<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css"> 
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <title>Document</title>
</head>
<body>
    <header>
        <div class="main-header">
            <div class="main-header-mobile">
                <img src="./images/Logo-sin-fondo.png" alt="Logo mercadoliebre" height="100px">
                <form action="/busqueda" method="get" class="busqueda"> 
                    <div class="search-bar">
                        <input type="text" value="Buscar productos, marcas, etc" name="nombredelacaja" size="0.4hw" >
                        <button type="submit" class="boton-busqueda"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
            </div>
        </div>
      
        <div class="nav-bar">
            <ul class="log-in-nav-bar">
                <li><a href="/register"> Contáctanos</a></li>
                <li><a href="/register.html"> Creá tu Cuenta</a></li>
                <li><a href="/login"> Ingresa</a></li>
                <li><a href="productCart"><i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
        </div>   
       
    </header>

    <main id="Productos">

            <h3>Basado en tu última visita</h3>
        <section id="Basado-en-tu-ultima-visita">
            <article>
                <img class="img-articulos" src="./images/productos/iphonecase.jpg" alt="Iphone case" height="100px">
                <div class="articulos">
                    <p><i class="fa-solid fa-truck-fast"></i></p>
                    <div class="precios-wrapper">
                        <p class="precios">$1.500</p>
                        <p class="descuentos">40% OFF</p>
                    </div>
                    <p class="descripciones">IPhone 12 Case</p>
                </div>
            </article>
    
            <article>
                <img class="img-articulos" src="./images/productos/jabonero.jpg" alt="Mac Book Pro 2019" height="100px">
                <div class="articulos">
                    <p><i class="fa-solid fa-truck-fast"></i></p>
                    <div class="precios-wrapper">
                        <p class="precios">$1.000$</p>
                        <p class="descuentos">20% off</p>
                    </div>
                    <p class="descripciones">Jabonero PLA</p>
                </div>
            </article>
    
            <article>
                <img class="img-articulos" src="./images/productos/lapicero.jpg" alt="imagen del Samsung Galaxy" height="100px">
                <div class="articulos">
                    <p><i class="fa-solid fa-truck-fast"></i></p>
                    <div class="precios-wrapper">
                        <p class="precios">$2.500</p>
                        <p class="descuentos">10% off</p>
                    </div>
                    <p class="descripciones">Lapicero ABS</p>
                </div>
            </article>
    
            <article>
                <img class="img-articulos" src="./images/productos/jabonero.jpg" alt="imagen del SmartTv Samnsing 43 pulgadas" height="100px">
                <div class="articulos">
                    <p><i class="fa-solid fa-truck-fast"></i></p>
                    <div class="precios-wrapper">
                        <p class="precios">$1.200</p>
                        <p class="descuentos">5% off</p>
                    </div>
                    <p class="descripciones">Jabonero PLA</p>
                </div>
            </article>
    
        </section>
        
            <h3>Productos mas vendidos</h3>
        <section id="Seccion-de-Ofertas">
            <article>
                <img class="img-articulos" src="./images/productos/jabonero.jpg" alt="Cafetera Moulinex" height="100px">
                <div class="articulos">
                    <p><i class="fa-solid fa-truck-fast"></i></p>
                    <div class="precios-wrapper">
                        <p class="precios">$1.770</p>
                        <p class="descuentos">40% OFF</p>
                    </div>
                    <p class="descripciones">Jabonero PLA</p>
                </div>
            </article>
    
            <article>
                <img class="img-articulos" src="./images/productos/jabonero.jpg" alt="Mac Book Pro 2019" height="100px">
                <div class="articulos">
                    <p><i class="fa-solid fa-truck-fast"></i></p>
                    <div class="precios-wrapper">
                        <p class="precios">$1.000$</p>
                        <p class="descuentos">20% off</p>
                    </div>
                    <p class="descripciones">Jabonero PLA</p>
                </div>
            </article>
    
            <article>
                <img class="img-articulos" src="./images/productos/jabonero.jpg" alt="imagen del Samsung Galaxy" height="100px">
                <div class="articulos">
                    <p><i class="fa-solid fa-truck-fast"></i></p>
                    <div class="precios-wrapper">
                        <p class="precios">$1.500</p>
                        <p class="descuentos">10% off</p>
                    </div>
                    <p class="descripciones">Jabonero PLA</p>
                </div>
            </article>
    
            <article>
                <img class="img-articulos" src="./images/productos/jabonero.jpg" alt="imagen del SmartTv Samnsing 43 pulgadas" height="100px">
                <div class="articulos">
                    <p><i class="fa-solid fa-truck-fast"></i></p>
                    <div class="precios-wrapper">
                        <p class="precios">$1.200</p>
                        <p class="descuentos">5% off</p>
                    </div>
                    <p class="descripciones">Jabonero PLA</p>
                </div>
            </article>
    
        
        </section>

        

    </main>

    <footer>

        <div class="tarjeta-credito">
            <i class="fa-solid fa-credit-card"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Paga en cuotas sin interés con tarjeta o efectivo. ¡Y siempre es seguro!</p>
        </div>

        <div class="envios">
            <i class="fa-solid fa-boxes-packing"></i>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrado tenés envíos gratis en miles de
                productos.</p>
        </div>

        <div class="shield">
            <i class="fa-solid fa-user-shield"></i>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! No hay nada que no puedas hacer,
                porque estás siempre protegido.</p>
        </div>
        
    </footer>

</body>
</html>