<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/productcart.css">
    <link rel="stylesheet" href="/css/styles.css"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


    <title>CARRITO</title>
</head>
<body>
    <header>
        <div class="main-header">
            <div class="main-header-mobile">
                <img src="./images/Logo-sin-fondo.png" alt="Logo mercadoliebre" height="100px">
                <form action="/busqueda" method="get" class="busqueda"> 
                    <div class="search-bar">
                        <input type="text" value="Buscar productos, marcas, etc" name="nombredelacaja" size="0.4hw" >
                        <button type="submit" class="boton-busqueda"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
            </div>
        </div>
      
        <div class="nav-bar">
            <ul class="log-in-nav-bar">
                <li><a href="/register"> Contáctanos</a></li>
                <li><a href="/register"> Creá tu Cuenta</a></li>
                <li><a href="login"> Ingresa</a></li>
                <li><a href="productCart"><i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
        </div>   
       
    </header>

    <main id="Product-cart">





      
        

            <body>
                <div class="container">
                    <h1>Carrito de Compras</h1>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ARTICULOS</th>
                               
                                <th>PRECIO</th>
                                <th>CANTIDAD</th>
                                <th>TOTAL</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><img src="./images/productos/imagencamara3d.jpeg " alt="Producto 1" width="50"></td>
                                
                                <td>$10</td>
                                <td>1</td>
                                <td>$10</td>
                                <td><button type="button" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove"></span></button></td>
                            </tr>
                            <tr>
                                <td><img src="./images/productos/iphonecase.jpg" alt="Producto 2" width="50"></td>
                                
                                <td>$20</td>
                                <td>2</td>
                                <td>$40</td>
                                <td><button type="button" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove"></span></button></td>
                            </tr>
                            <tr>
                                <td colspan="3">TOTAL:</td>
                                <td>$50</td>
                            </tr>
                        </tbody>
                    </table>
                    <button type="button" class="btn btn-primary">METODO DE PAGO</button>
                </div>





                <h2>Datos del usuario</h2>
        
        <div class="row mb-3">
            <div class="col-6">
                <form>
                    <div class="form-group">
                        <label for="nombre">Nombre:</label>
                        <input type="text" class="form-control" id="nombre" placeholder="Ingresa tu nombre">
                    </div>
                    <div class="form-group">
                        <label for="correo">Correo electrónico:</label>
                        <input type="email" class="form-control" id="correo" placeholder="Ingresa tu correo electrónico">
                    </div>
                    <div class="form-group">
                        <label for="direccion">Dirección:</label>
                        <input type="text" class="form-control" id="direccion" placeholder="Ingresa tu dirección para el envio">
                    </div>
                    <div class="form-group">
                        <label for="telefono">Teléfono:</label>
                        <input type="tel" class="form-control" id="telefono" placeholder="Ingresa tu número de teléfono">
                    </div>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
            </div>
            <div class="col-6"></div>
         </div>   
	</div>










            </body>




    </main>

    <footer>

        <div class="tarjeta-credito">
            <i class="fa-solid fa-credit-card"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Paga en cuotas sin interés con tarjeta o efectivo. ¡Y siempre es seguro!</p>
        </div>

        <div class="envios">
            <i class="fa-solid fa-boxes-packing"></i>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrado tenés envíos gratis en miles de
                productos.</p>
        </div>

        <div class="shield">
            <i class="fa-solid fa-user-shield"></i>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! No hay nada que no puedas hacer,
                porque estás siempre protegido.</p>
        </div>



        
        
    </footer>

</body>
</html>