<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css"> 
    <link rel="stylesheet" href="/css/normalize.css"> 
    <link rel="stylesheet" href="/css/productdetail.css"> 

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <title>Document</title>
</head>
<body>
    <header>
        <div class="main-header">
            <div class="main-header-mobile">
                <img src="./images/Logo-sin-fondo.png" alt="Logo mercadoliebre" height="100px">
                <form action="/busqueda" method="get" class="busqueda"> 
                    <div class="search-bar">
                        <input type="text" value="Buscar productos, marcas, etc" name="nombredelacaja" size="0.4hw" >
                        <button type="submit" class="boton-busqueda"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
            </div>
        </div>
      
        <div class="nav-bar">
            <ul class="log-in-nav-bar">
                <li><a href="/register"> Contáctanos</a></li>
                <li><a href="/register.html"> Creá tu Cuenta</a></li>
                <li><a href="/login"> Ingresa</a></li>
                <li><a href="productCart"><i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
        </div>   
       
       
    </header>

    <main>

        <div class="contenedor-main">
            <div class="primero">
                <div class="boton-primero"><button><i class="fa-solid fa-arrow-left">Volver</i></button></div>
                <div class="imagen-producto-grande"><img src="/images/productos/jabonero.jpg"></div>
                <div class="imagenes-pequeñas">
                    <i class="fa-solid fa-arrow-left"></i>
                    <div class="fotito"><img src="foto"></div>
                    <div class="fotito"><img src="foto"></div>
                    <div class="fotito"><img src="foto"></div>
                    <div class="fotito"><img src="foto"></div>
                    <i class="fa-solid fa-arrow-right"></i>
                </div>
                </div>
                <div class="segundo">
                    <h2>Nombre Del Producto</h2>
                    <h3>Breve descripcion</h3>
                    <h3>$ 1.200</h3>

                    <div class="estrella">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    <h3>Calificacion del producto</h3>
                    </div>
                    <form action="nombre del archivo" method="get" class="formulario">
                        <div class="formularios-segundos">
                        <div class="cantidad-formulario">
                            <select name="Cantidad">
                                <option value="" disabled selected>Cantidad:</option>
                                <option value="">Opcion Uno</option>
                                <option value="">Opcion Dos</option>
                                <option value="">Opcion Tres</option>
                            </select>
                        </div>
                        <div class="color-formulario">
                            <select name="Color">
                                <option value="" disabled selected>Color:</option>
                                <option value="">Opcion Uno</option>
                                <option value="">Opcion Dos</option>
                                <option value="">Opcion Tres</option>
                            </select>
                            
                        </div>
                        <div class="material-formulario">
                            <select name="Material">
                                <option value="" disabled selected>Material:</option>
                                <option value="">Opcion Uno</option>
                                <option value="">Opcion Dos</option>
                                <option value="">Opcion Tres</option>
                            </select>
                            </div>
                            </div>
                            <div class="boton-segundo">
                                <button>Agregar al carrito</button>
                            </div>
                           
                        </div>
                    </form>
                </div>
                
            <div class="tercero">
                <div class="titular-tercero"><h2>Descripcion del producto</h2></div>
                <div class="descripcion-tercero"><h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga dicta sapiente, temporibus minima vero quasi recusandae cum quaerat incidunt beatae labore possimus nulla animi provident laudantium numquam vel saepe ratione.</h3></div>
                <div class="calificacion-tercero"><h3>Calificacion del vendedor</h3><i class="fa-solid fa-star"></i></div>
                <div class="nombre-producto-tercero"><h3>Nombre del producto</h3></div>
            </div>       
        </div>
        
    </main>

    <footer>
        <div class="tarjeta-credito">
            <i class="fa-solid fa-credit-card"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Paga en cuotas sin interés con tarjeta o efectivo. ¡Y siempre es seguro!</p>
        </div>
        
        <div class="envios">
            <i class="fa-solid fa-boxes-packing"></i>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrado tenés envíos gratis en miles de
                productos.</p>
        </div>
        
        <div class="shield">
            <i class="fa-solid fa-user-shield"></i>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! No hay nada que no puedas hacer,
                porque estás siempre protegido.</p>

    </footer>
</body>
</html>