* {
    box-sizing: border-box;
}
.create-form {
    padding: 20px 15px;
    
  }

.login {

    width:50%;
    border-radius: 10px;
    margin: 0 auto;
    padding-top: 10px;
 
}

.loguear {
    width: 100%;
    padding: 8px;
    margin-top: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    display: block;

  }

  .login-boton {
    font-size: 15px;
    padding: 3px 8px;
    color:black;
    border-radius: 5px;
    justify-content: center;
    position: center;
    width: 100%;
    text-align: center;
  }

  .login-boton button {
    width: 100px;
  }

  .login-boton button:hover {
    background-color: rgb(190, 134, 60);
  }

  .recordar{
    text-align: center;
    font-size: 15px;
    padding: 8px;
  }

  .texto{
    font-size: 18px;
    border-radius: 10px;
  }

