
.superior {
    background-color: blue;
    padding: 20px;
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    top:0px;
    position: relative;

}
.logo {
    width: 30%;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    color:white;
    margin-right: 20%;
}

.iconos {
    display:flex;
    justify-content: flex-start;
    align-items: center;
    color:white;
    font-size: 10px;
    margin-left: 20%;
}

.iconos-header, .iconos-header-dos {
    display:flex;
    justify-content: flex-start;
    align-items: center;
    color:white;
    font-size: 12px;
    margin-left:2px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor-main {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.primero {
    width: 55%;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-right: 10px;
    padding: 10px;
    color: black;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    
}

.segundo {
    width: 44%;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    padding: 10px;
    color: black;
    border-radius: 15px;
    margin: 20px;

}

.tercero {
    font-size: 12px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding-left: 10px;
    color: black;
    border-radius: 15px;
    margin: 20px;
}

.boton-primero {
        display:flex;
        align-items: flex-start;
        justify-content: flex-start;
        margin-top:10px;
        margin-bottom:10px;
        text-align: left;
}
    
.boton-primero button {

    background-color: gray;
    border-radius: 5%;
    margin-top:10px;
    margin-bottom:10px;
}

.imagen-producto-grande {
  
    padding: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top:10px;
    margin-bottom:10px;
    size: 10px;
    border-radius: 15px
}

.imagenes-pequeñas {
    display:flex;
    flex-direction: row;
    margin-top:10px;
    margin-bottom:10px;
    gap:10px;
}


.segundo h2 {
    font-size: 20px;
}
.segundo h3 {
    font-size: 15px;
}

.estrella {
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    margin-right: 4px;
    gap: 10px
}

.estrella h2 {
    font-size: 8px;
}

.formularios-segundos {
    border-radius: 5px;
}

.cantidad-formulario, 
.color-formulario,
.material-formulario,
.boton-segundo {
    margin-bottom: 10px;;
}

.boton-segundo {
    display:flex;
    justify-content: center;
    align-items: center;
}

.boton-segundo button {
    background-color: red;
    border-radius: 5%;
}

.calificacion-tercero {
display:flex;
flex-wrap: wrap;
align-items: center;
font-size: 15px;
gap: 10px
}

.nombre-producto-tercero {
    margin-bottom: 10px;
}

.titular-tercero {
    padding-left: 10px;
}

@media (min-width:361px) {
   
    .imagen-producto-grande {
        margin-top: 10px;
        margin-bottom: 10px;
    }
  
}
@media (max-width:720px) {
   
    .contenedor-main {
        display: flex;
        flex-direction: column;
        width: 80hw;
    }

    .primero {
    width:90%;
    }
    .segundo {
    width:90%;
    }
    .tercero {
        width:90%;
    }
}

