
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');



header {
    background-image: linear-gradient(135deg, #1465bb 30%, #ff0000 100%);
    text-align: center;
    position: fixed;
    top: 0;
    z-index: 100;
    /*background-color: #0026fa;*/
    padding-bottom: 20px;
    width: 100vw;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(135deg, #1465bb 30%, #ff0000 100%);
    /*background-color: #007CFA;*/
    color: #ebebeb;
}

a {
    color: #ebebeb;
    text-decoration: none;
}

#Basado-en-tu-ultima-visita {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

footer {
    text-align: center;
    margin-top: 15px;
    background-image: linear-gradient(135deg, #1465bb 20%, #ff0000 100%);
    /*background-color: #0026fa;*/
    padding-top: 20px;
    padding-bottom: 20px;
}

.searchbar {
    display:flex;
    align-items: center;
    flex-wrap: nowrap;
    border-radius: 10px;
    background-color: white;
  }
  
  .searchbar input {
    padding-left: 10px;
    border: none;
    outline: 0;
    border-radius: 5px;
    width: 35vw;
  }
  
  .searchbar button{
    border: none;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
  }

main {
    padding-top: 120px;
}

h3 {
    padding-left: 10px;
}

ul {
    list-style: none;
}

.fa-solid.fa-credit-card:hover {
    color: yellow;
}

.fa-solid.fa-boxes-packing:hover {
    color: yellow;
}

.fa-solid.fa-user-shield:hover {
    color: yellow;
}

/*article {
    margin-bottom: 30px;
    border-top: 1px solid #ebebeb;
    padding: 15px 15px 15px 15px;
    background-color: white;
    text-align: center;
    border-radius: 5%;
    box-shadow: 10px 10px 10px 0px rgba(204,204,204,1);
    width: 300px;
}*/

/*.img-articulos {
    border-radius: 10px;
    height: 200px;
    width: 200px;
}

.articulos {
    border-top: 1px solid #ebebeb;
    text-align: left;
}


article:hover {
    box-shadow: 10px 10px 10px 0px rgb(121, 120, 120);
}

.precios {
    font-size: 18px;
    font-weight: bold;
    color: black
}

.descuentos {
    font-size: 16px;
    color: #39b54a;
}

.descripciones {
    font-size: 16px;
    color: rgb(118, 116, 116);
}*/

.fa-solid.fa-truck-fast {
    border: 2px #39b54a solid;
    border-radius: 50%;
    color: #39b54a;
    margin: 0px;
    padding: 5px;
    box-sizing: border-box;
}

.fa-solid.fa-truck-fast:hover {
    color: red;
    border: 2px red solid;
    transform: scale(1.5);
    transform: rotate(-0.25turn);
}

@media (min-width: 720px) {
   
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background-color: #0026fa;
    }   
    .main-header-mobile {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 27vw;
    }
    .log-in-nav-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 27vw;
    }
}

@media (max-width: 720px) {
    .searchbar {
        width: 41%;
        height: 37px;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
      }
    
    main {
      padding-top: 250px;
    }
  }
  

  @import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto+Condensed:ital,wght@0,300;1,400&display=swap" rel="stylesheet');

  * {
      margin: 0;
      padding: 0;
      font-family: 'Poppins', sans-serif;
  }
  
  body{
      /*display: flex;*/
      justify-content: center;
      align-items: center;
      background: #131313;
      height: 100%;
      /*width: 90%;*/
      background: url('/images/wallpaper6.jpg');
    
  }
  
  
  .contenedor-card{
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 90%;
      flex-wrap: wrap;
      transform-style: preserve-3d;
      margin: 10%;
  }
  .contenedor-card .box-card{
      position: relative;
      width: 300px;
      height: 400px;
      margin: 30px;
      background: #232323;
      border-radius: 20px;
      transform-style: preserve-3d;
  }
  .contenedor-card .box-card::before{
      content: 'HEL';
      position: absolute;
      top: 20px;
      left: 20px;
      font-size: 6em;
      font-weight: 900;
      color: #fff;
      font-style: italic;
      opacity: 0;
      transition: 0.5s ;
  }
  .contenedor-card .box-card::after{
      content: 'ITA';
      position: absolute;
      bottom: 20px;
      right: 20px;
      font-size: 5em;
      font-weight: 900;
      color: #fff;
      font-style: italic;
      opacity: 0;
      transition: 0.5s ;
  }
  .contenedor-card .box-card:hover::before,
  .contenedor-card .box-card:hover::after{
      opacity: 0.04;
  }
  .contenedor-card .box-card .name{
      position: absolute;
      top: 0;
      left: 0;
      text-align: center;
      color: #fff;
      width: 100%;
      transform-style: preserve-3d;
      transform: translate3d(0,0,75px);
      transition: 0.5s;
      opacity: 0;
      z-index: 10;
  }
  .contenedor-card .box-card:hover .name{
      top: 40px;
      opacity: 1;
  }
  
  .contenedor-card .box-card .buy {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform-style: preserve-3d;
      transform: translate3d(-50%,0,75px);
      color: #fff;
      background: #333;
      padding: 10px 25px;
      border-radius: 30px;
      text-decoration: none;
      transition: 0.5s;
      opacity: 0;
      z-index: 10;
  }
  .contenedor-card .box-card:hover .buy{
      bottom: 30px;
      opacity: 1;
  }
  .contenedor-card .box-card .circle {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      transition: 0.5s;
      background: #fff;
      transform-style: preserve-3d;
      z-index: 10;
      opacity: 0;
      transform: translate3d(-50%, -50%, 50px);
  }
  .contenedor-card .box-card:hover .circle{
      opacity: 1;
  
  }
  .contenedor-card .box-card .product{
      position: absolute;
      top: 50%;
      left: 50%;
      max-width: 300px;
      transition: 0.5s;
      z-index: 11;
      transition: 0.5s;
      transform-style: preserve-3d;
      transform: translate3d(-50%, -50%, 0px) rotate(-15deg);
  }
  .contenedor-card .box-card:hover .product{
      transform: translate3d(-50%, -50%, 100px) rotate(-15deg);
  
  }
  .contenedor-card .box-card:nth-child(1) .circle,
  .contenedor-card .box-card:nth-child(1) .buy {
      background: #379bf7;
  }
  
  .contenedor-card .box-card:nth-child(2) .circle,
  .contenedor-card .box-card:nth-child(2) .buy {
      background: #9bdc28;
  }
  
  .contenedor-card .box-card:nth-child(3) .circle,
  .contenedor-card .box-card:nth-child(3) .buy {
      background: #fb4b4f;
  }
  
  @media (max-width: 600px) {
      .contenedor-card {
        justify-content: space-between;
      }
    }

