.total-section {
  
    margin-bottom: 20px;
    background: #fff;
    border-radius: 6px 6px 0 0;
    bottom: 0;
    box-shadow: 0 -6px 16px rgba(0,0,0,.1);
    box-sizing: border-box;
    margin-top: auto;
    overflow: hidden;
    padding: 0 16px 16px;
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    z-index: 14;
    color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.product-prices {
 
  margin-top: 10px; 
}

.product-price {
  font-size: 18px;
  color: #ffffff;
}

.button button:hover {
  
  opacity: 1; 
}


#Basado-en-tu-ultima-visitaere {
  display: flex;
  flex-wrap: wrap;
  /*gap: 10px;*/ 
}


.total-price {
  color:rgb(130, 128, 128);
  font-size: 25px;
  margin-top: 20px;
}

.pay-button{
 
  position: absolute;
  bottom: 0;
  left: 68%;
 
  transform-style: preserve-3d;
 
  background-image: linear-gradient(135deg,#ffffff, #b9b9b9 );

  padding: 10px 25px;
  height: 100%;
  text-decoration: none;
  transition: 0.5s;
  z-index: 10;
 
  color: black;
  width: 33%;
  text-align: center;
   
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.product-infototal{
  position: relative;
  /* max-width: 455px; */
  
  padding: 20px 30px 30px 30px;
  background-image: linear-gradient(135deg,#000000, #000000 );
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  z-index: 3;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin-bottom: 22px;
  margin-left: 22px;
  margin-right: 22px;
  color: rgb(255, 255, 255);
  font-size: 15px;
}
h4 {
  text-align: center; 
  font-size: 1.8rem;
  color: black; 
  margin-top: 30px;
}

.pagar {
  font-size: 20px;
  position: absolute;
    height: 27%;
    width: 50%;
    left: 25%;
    top: 61%;
    background-image: linear-gradient(135deg,#000000, #000000 );
    transition: all 0.4s ease;
    border-radius: 25px;
    text-align: center;
    padding: 9px;
    margin: 11px;
   
    font-weight: 600;
    letter-spacing: 1px;
    color: #ffffff;

}
.product-card {
  position: relative;
  max-width: 30%;

  border-radius: 25px;
  padding: 20px 30px 30px 30px;
  background:#888888;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  z-index: 3;
  overflow: hidden;

  display: flex; 
  flex-direction: column;
  margin-top: 6px;
  margin-left: 2%;
  

}
.shoe-name {
  color: black;
}
.buy {
  color: black;
}
.price_num {
  font-size: 20px;
}
.shoe_name {
  color: black;
}
.product-card .logo-cart{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product-card .logo-cart img{
  
  width: 60px;
  object-fit: cover;
}
.product-card .logo-cart i{
  font-size: 27px;
  color: #707070;
  cursor: pointer;
  transition: color 0.3s ease;
}
.product-card .logo-cart i:hover{
  color: #333;
}
.product-card .main-images{
  position: relative;
  height: 210px;
}
.product-card .main-images img{
  position: absolute;
  height: 300px;
  width: 300px;
  object-fit: cover;
  transform: rotate(18deg);
  left: 12px;
  top: -40px;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.product-card .main-images img.active{
  opacity: 1;
}
.product-card .shoe-details .shoe_name{
  font-size: 24px;
  font-weight: 500;
  color: #161616;
}
.product-card .shoe-details p{
  font-size: 12px;
  font-weight: 400;
  color: #333;
  text-align: justify;
}
.product-card .shoe-details .stars i{
  margin: 0 -1px;
  color: #333;
}
.product-card .color-price .color-option{
  display: flex;
  align-items: center;
}
.color-price{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.color-price .color-option .color{
  font-size: 18px;
  font-weight: 500;
  color: #333;
  margin-right: 8px;
}
.color-option  .circles{
  display: flex;
}
.color-option  .circles .circle{
  height: 18px;
  width: 18px;
  background: #0071C7;
  border-radius: 50%;
  margin: 0 4px;
  cursor: pointer;
  transition: all 0.4s ease;
}
.color-option  .circles .circle.blue.active{
  box-shadow: 0 0 0 2px #fff,
               0 0 0 4px #0071C7;
}
.color-option  .circles .circle.pink{
  background: #FA1795;
}
.color-option  .circles .circle.pink.active{
  box-shadow: 0 0 0 2px #fff,
               0 0 0 4px #FA1795;
}
.color-option  .circles .circle.yellow{
  background: #F5DA00;
}
.color-option  .circles .circle.yellow.active{
  box-shadow: 0 0 0 2px #fff,
               0 0 0 4px #F5DA00;
}
.color-price .price{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.color-price .price .price_num{
  font-size: 25px;
  font-weight: 600;
  color: #000000;
}
.color-price .price .price_letter{
  font-size: 10px;
  font-weight: 600;
  margin-top: -4px;
  color: #707070;
}
.product-card .button{
  position: relative;
  height: 50px;
  width: 100%;
  border-radius: 25px;
  margin-top: 30px;
  overflow: hidden;
}

.main-imagesaff {
  text-align: center;
}
.product-card .button .button-layer{
  position: absolute;
  height: 100%;
  width: 300%;
  left: -100%;
  background-image: linear-gradient(135deg,#000000, #43CBFF,#000000, #000000 );
  transition: all 0.4s ease;
  border-radius: 25px;
  text-align: center;
  font-size: 20px;
}
.product-card .button:hover .button-layer{
  left: 1;
}
.product-card .button button{
  position: relative;
  height: 100%;
  width: 100%;
  background: none;
  outline: none;
  border: none;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
}

@media (max-width: 1199px) {
  .product-card {
    
    padding-left: 14px;
  }
 
}


    @media (max-width: 530px) {
      .product-card{
        margin-left: 25px;
      }
    }
    
    @media (max-width: 700px) {
    .product-card {
      position: relative;
      max-width: 68%;
      border-radius: 25px;
      padding: 20px 30px 30px 30px;
      background: #8c8c8c;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      z-index: 3;
      overflow: hidden;
      display: flex;
      margin: 0 auto;
      /* flex-direction: column; */
      margin-top: 6px;
      /* margin-left: 2%;*/
    }
    .product-infototal{
    padding: 76px 30px 30px 30px;
    
  }
}
  @media (max-width: 800px) {
    .preciototal{
      margin-top: -19px;
      font-size: 15px;
    }
  }