<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>

    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>
<body>
    <header>
        
        <%- include('../partials/header') %>
       
    </header>

    <main>
        <form action="home.html" method="get" class="create-form">
            <div class="login">
                <label class="texto"><i class="fa-solid fa-user"></i> Nombre de usuario</label>
                <input type="text" name="nombre de usuario" class="loguear" placeholder="Nombre de usuario"> 
            </div>
                <div class="login">
                    <label class="texto"><i class="fa-solid fa-key"></i> Contraseña</label>
                <input type="password" name="contraseña" class="loguear" placeholder="Contraseña">
            </div>
            <div class="recordar">        
                <a href="#">¿Olvidaste tu contraseña?</a>
            </div>
            <div class="login-boton">
                <button type="submit">Enviar</button></a>  
            </div> 
            <div class="recordar">
                ¿No estas registrado? <a href="/register">Registrate aqui</a>
            </div>
        </form>
    </main>

    <footer>
        
        <%- include('../partials/footer') %>
        
    </footer>

</body>
</html>