<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>

    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>
<body>
    <header>
        
        <%- include('../partials/header') %>
       
    </header>

    <main>
        <h1>Iniciar sesion</h1>
        <form action="/users/login" method="post">
            <h1 style="color: red"><%= error %> </h1>
            <label for="">Email</label>
            <input name="email" type="email">
            <br>
            <label for="">Password</label>
            <input name="password" type="password">
            <br>
            <label for="">Mantener sesion iniciada</label>
            <input type="checkbox" name="remember" id="">
            <br>
            <input type="submit" value="iniciar sesion">
        </form>
    </main>

    <footer>
        
        <%- include('../partials/footer') %>
        
    </footer>

</body>
</html>