<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>

    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Registate</title>
    <link rel="shortcut icon" href="/images/Logo-sin-fondo.png">
</head>
<body>
    <header>
       
        <%- include('../partials/header32') %>
       
    </header>

    <main>
        <form action="/users" method="POST" enctype="multipart/form-data" class="create-form" action="/users?_method=PUT">
            <div class="formulario">
                

                <div class="control-formulario">
                    <label for="" class="texto-nombre">Nombre y Apellido</label>
                    <input type="text" name="nombre" class="control" placeholder="Nombre y Apellido" id="nombreCompleto" pattern=".{2,}" required>
                    <span class="error">Ingrese un nombre válido (al menos 2 caracteres)</span>            
            </div>
            <div class="control-formulario">
                <label class="texto">Nombre de usuario</label>
                <input type="text" name="apellido" class="control" placeholder="Nombre de usuario" pattern="[a-zA-Z]{5,}" required>
                <span class="error">Ingrese un nombre de usuario válido (al menos cinco caracteres)</span>    
            </div>
            <div class="control-formulario">
                <label for="" class="texto">Email</label>
                <input type="email" name="email" class="control" placeholder="E-mail" required>
                <span class="error">Ingrese un email</span>  
                <% if (error === 'El correo electrónico ya está registrado') { %>
                    <p class="error-message"><%= error %></p>
                <% } %> 
            </div>
            <div class="control-formulario">
                <label class="texto">Fecha De Nacimiento:</label>
                <input type="date" name="fecha" class="control" placeholder="Fecha de nacimiento">
            </div>
            <div class="control-formulario">
                <label class="texto">Edad:</label>
                <input type="number" name="edad" class="control" placeholder="Edad" required>
            </div>
            
            <div class="control-formulario">
                <label class="texto">Pais de Nacimiento:</label>
                <select name="Pais" id="Pais" class="control">
                    <option value="Arg">Argentina</option>
                    <option value="Br">Brasil</option>
                    <option value="Bol">Bolivia</option>
                    <option value="Chi">Chile</option>
                    <option value="Col">Colombia</option>
                    <option value="Ecu">Ecuador</option>
                    <option value="Eeuu">Estados Unidos</option>
                    <option value="Par">Paraguay</option>
                    <option value="Per">Peru</option>
                    <option value="Uru">Uruguay</option>
                    <option value="Ven">Venezuela</option>
                </select>
            </div>

            <div class="control-formulario">
                <label for="" class="texto">Password</label>
                <input type="password" name="password" class="control" placeholder="Contraseña"  pattern="{8,}" required>           
                <span class="error">Ingrese una contaseña valida (al menos 8 caracteres)</span>  
                  
            </div>
            <div class="control-formulario">
                <label for="" class="texto">Confirmar Contraseña</label>
                <input type="password" name="controlpassword" class="control" placeholder="Contraseña"  pattern="{8,}" required>           
                <span class="error">Ingrese una contaseña valida (al menos 8 caracteres)</span>  
            </div>


           
            <div class="control-formulario">
                <label class="texto">Domicilio</label>
                <input type="text" name="domicilio" class="control" placeholder="Domicilio">
            </div>
          

            <div class="control-formulario">
                <button type="reset" class="control">Borrar</button>
                <input type="submit" class="control" value="Registrarme"></button></a>
                </div>

            </form>
    </main>

    <footer>
        <%- include('../partials/footer') %>
    </footer>

</body>
</html>