<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina de carga</title>

    <link rel="stylesheet" href="/css/intro.css">

    <link rel="stylesheet"
    href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto+Condensed:ital,wght@0,300;1,400&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <%- include('../partials/header2') %>
        
    </header>
        <section class="hero">
        <div class="hero-text">
            <h5>#1 Web de Productos 3d En Argentina</h5>
            <h4></h4>
            <h1>Print-Dustry</h1>
            <p>La magia de las compras en tercera dimensión: Un universo de productos sorprendentes </p>
            <a href="/users/login">Ingresa</a>
            <a href="/users/register" class="ctaa"></i>Crea tu cuenta</a>
        </div>
        
        <div class="hero-img">
            <img src="/images/Logo-sin-fondo.png" >
        </div>
    </section>

    <div class="icons">
        <a href="#"><i class="ri-instagram-line"></i></a>
        <a href="#"><i class="ri-youtube-line"></i></a>
        <a href="#"><i class="ri-twitter-line"></i></a>
    </div>

    <div class="scroll-down">
       <a href="#"><i class="ri-arrow-down-s-fill"></i></a>
    </div>

    <script src="https://unpkg.com/scrollreveal"></script>

    <script src="/users/script.js"></script>
</body>
</html>