<!DOCTYPE html>
<html lang="en">
<head>

    <%- include('../partials/head') %>

    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>
<body>
    <header>
       
        <%- include('../partials/header') %>
       
    </header>

    <main>
        <form action="/products" method="post" class="create-form" enctype="multipart/form-data">
            <div class="formulario">
                <div class="control-formulario">
                    <label class="texto-nombre">Nombre del Producto</label>
                    <input type="text" name="nombreDelProducto"class="control" placeholder="Nombre del producto" id="nombreCompleto" pattern="[a-zA-Z]{1,}" required>          
                    <br>
                <label class="texto">Descripción del Producto</label>
                <input type="text" name="descripcion" class="control" placeholder="Describa su producto aquí" pattern="[a-zA-Z]{8,}" required>    
                     <br>
                <label class="texto">Precio</label>
                <input type="number" name="precio" class="control" placeholder="Precio del producto" pattern="[a-zA-Z]{8,}" required> 
                 <br>
                <label class="texto">Categoria</label>
                <select name="Categoria" id="Categoria" class="control">
                    <option value="Acc">Accesorios</option>
                    <option value="gaming">Gaming</option>
                    <option value="repuestos">Repuestos</option>
                    <option value="celulares">Celulares</option>
                </select>
                <br>
                <label class="texto">Material</label>
                <input type="text" name="material" id="material">
                <br>
                <label class="texto">Color</label>
                <input type="text" name="colors" id="colors">
               <br>
               <label for="image">Imagen:</label>
               <input type="file" multiple accept=".jpg, .jpeg, .png" name="image" id="imagen">
   
               
               <input type="reset" class="control">Borrar</input>
               <input  type="submit" class="control">Subir Producto</input>   
               
            </div>
            </form>


    </main>

    <footer>
        <%- include('../partials/footer') %>
    </footer>

</body>
</html>