<!DOCTYPE html>
<html lang="en">
<head>
   
    <%- include('../partials/head') %>
    
    <link rel="stylesheet" href="/css/productdetail.css"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>
<body>
    <header>
        
        <%- include('../partials/header') %>
       
    </header>

    <main>

        <div class="contenedor-main">
            <div class="primero">
                <div class="boton-primero"><button><i class="fa-solid fa-arrow-left">Volver</i></button></div>
                <div class="imagen-producto-grande"><img src="/images/productos/jabonero.jpg" style="width: 40%"></div>
                <div class="imagenes-pequeñas">
                    <i class="fa-solid fa-arrow-left"></i>
                    <div class="fotito"><img src="foto"></div>
                    <div class="fotito"><img src="foto"></div>
                    <div class="fotito"><img src="foto"></div>
                    <div class="fotito"><img src="foto"></div>
                    <i class="fa-solid fa-arrow-right"></i>
                </div>
                </div>
                <div class="segundo">
                    <h2>Nombre Del Producto</h2>
                    <h3>Breve descripcion</h3>
                    <h3>$ 1.200</h3>

                    <div class="estrella">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    <h3>Calificacion del producto</h3>
                    </div>
                    <form action="nombre del archivo" method="get" class="formulario">
                        <div class="formularios-segundos">
                        <div class="cantidad-formulario">
                            <select name="Cantidad">
                                <option value="" disabled selected>Cantidad:</option>
                                <option value="">Opcion Uno</option>
                                <option value="">Opcion Dos</option>
                                <option value="">Opcion Tres</option>
                            </select>
                        </div>
                        <div class="color-formulario">
                            <select name="Color">
                                <option value="" disabled selected>Color:</option>
                                <option value="">Opcion Uno</option>
                                <option value="">Opcion Dos</option>
                                <option value="">Opcion Tres</option>
                            </select>
                            
                        </div>
                        <div class="material-formulario">
                            <select name="Material">
                                <option value="" disabled selected>Material:</option>
                                <option value="">Opcion Uno</option>
                                <option value="">Opcion Dos</option>
                                <option value="">Opcion Tres</option>
                            </select>
                            </div>
                            </div>
                            <div class="boton-segundo">
                                <button>Agregar al carrito</button>
                            </div>
                           
                        </div>
                    </form>
                </div>
                
            <div class="tercero">
                <div class="titular-tercero"><h2>Descripcion del producto</h2></div>
                <div class="descripcion-tercero"><h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga dicta sapiente, temporibus minima vero quasi recusandae cum quaerat incidunt beatae labore possimus nulla animi provident laudantium numquam vel saepe ratione.</h3></div>
                <div class="calificacion-tercero"><h3>Calificacion del vendedor</h3><i class="fa-solid fa-star"></i></div>
                <div class="nombre-producto-tercero"><h3>Nombre del producto</h3></div>
            </div>       
        </div>
        
    </main>

    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>
</html>