<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>

    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>
<body>
    <header>
       
        <%- include('../partials/header') %>
       
    </header>

    <main>
        <form action="home.html" method="get" class="create-form">
            <div class="formulario">
                

                <div class="control-formulario">
                    <label class="texto-nombre">Nombre del Producto</label>
                    <input type="text" name="nombreCompleto"class="control" placeholder="Nombre del producto" id="nombreCompleto" pattern="[a-zA-Z]{1,}" required>          
            </div>
            <div class="control-formulario">
                <label class="texto">Descripción del Producto</label>
                <input type="text" name="usuario" class="control" placeholder="Describa su producto aquí" pattern="[a-zA-Z]{8,}" required>    
            </div>
            <div class="control-formulario">
                <label class="texto">Categoria</label>
                <select name="Categoria" id="Categoria" class="control">
                    <option value="Acc">Accesorios</option>
                    <option value="gaming">Gaming</option>
                    <option value="repuestos">Repuestos</option>
                    <option value="celulares">Celulares</option>
                </select>
                <label class="texto">Material</label>
                <select name="Material" id="Material" class="control">
                    <option value="abs">ABS</option>
                    <option value="pla">PLA</option>
                    <option value="tpu">TPU</option>
                    <option value="pa-12">PA-12</option>
                </select>
                <label class="texto">Color</label>
                <select name="Material" id="Material" class="control">
                    <option value="rojo">Rojo</option>
                    <option value="azul">Azul</option>
                    <option value="amarillo">Amarillo</option>
                    <option value="verde">Verde</option>
                </select>
                <label class="texto">Subir fotos del producto</label>
                <input type="file">file<br>
            </div>

            <div class="control-formulario">
                <a href="home.html"><button type="submit" class="control">Crear</button></a>
                <button type="reset" class="control">Borrar</button>
                </div>

            </form>
    </main>

    <footer>
        <%- include('../partials/footer') %>
    </footer>

</body>
</html>